body {
    text-align: center;
    background-color: lightblue;
   
}
.footer{
 margin-top:90%;
    padding-left:10px;
}

h2 {
    font-weight: bolder;
    font-size: large;
    color: black;
    margin: auto;
    width: 700px;
    
}

h3 {
    color: blanchedalmond;
}

hr {
    height: 4px;
    background-color: green;
}

li {
    display: inline;
    padding: 30px;
    color: black;
    height: 10px;
}
